__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
env/
venv/
.venv/
*.log
.git
.gitignore
README.md
model.sav
keras_model.h5
labels.txt
pred.jpg
signup.db
static/css/bootstrap.css
static/css/fontawesome-all.css
static/css/swiper.css
static/css/magnific-popup.css
static/css/styles.css
static/js/jquery.min.js
static/js/bootstrap.min.js
static/js/jquery.easing.min.js
static/js/jquery.magnific-popup.js
static/js/swiper.min.js
static/js/scripts.js
static/images/download.svg
static/images/favicon.png
